body{
  font-family: 'Poppins', sans-serif;

}

header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(#FF7A50 50%, rgb(255, 255, 255) 50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

header > p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: aliceblue;
  padding: 11px 375px;
}

header > img{
  position: absolute;
  top: 6%;
  left: 20%;
}

.first-section{
  width: 100%;
  height: 958px;
  background-image: url("./img/Food_baner_UI\ 1.png");
  background-size: cover;
}

.first-section > h1{
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 75px;
  text-transform: capitalize;
  color: #3D3D3D;
  margin: 160px 0 0 165px;
}

.first-section > p{
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #757575;
  margin: 30px 0 0 168px;
}

.delivery-food-form{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.delivery-food-form > button{
  width: 103px;
height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 186px 0 0 467px;
  background: #EFEFEF;
  border-radius: 5px 5px 0px 0px;
  border: none;
  padding: 19px 10px 13px 13px;

}

.delivery-food-form > button:hover{
  background: #FF7A50;
  transition: 1.2s;
}

.delivery-food-form > input[type=text]{
  width: 400px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #C7C7C7;
  background: #FFFFFF;
  border: 1.3px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 2px 4px 22px rgba(99, 41, 23, 0.07);
  border-radius: 0px 1px 1px 1px;
  padding: 28px;
  margin-left: 467px;

}

.delivery-food-form > input[type=submit]{
  width: 164px;
  height: 55px;
  border: none;
  background: #FF7A50;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 467px;
}

.food-categories{
  display: flex;
  width: 1171px;
  height: 807px;
  flex-wrap: wrap;
  height:  75vh;
  flex-direction: row;
  margin: 375px;
}

.flex-item{
  flex: 1;
}

.food-category{
  margin: 375px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #3D3D3D;
}

.popular-foods-title{
  font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-transform: capitalize;

/* Color primary */

color: #3D3D3D;
text-align: center;


}

.popular-food-flex-container{
  flex: 1;
  display: inline-block;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  width: 270px;
  height: 400px;
}

.popular-food-flex-container:hover{
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.12);

}

.popular-food-flex-container > h4{
  margin-left: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #3D3D3D;
}

.popular-food-flex-container > p{
  margin-left: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #757575;
}

.rating-span{
  width: 43px;
  height: 23px;
  background: #34C759;
  border-radius: 3px;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin: 237px 13px 85px 214px;
  text-transform: capitalize;
}

.no-underline-span{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #3D3D3D;
  padding-left: 15px;

}

.underline-span{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: line-through;
  text-transform: capitalize;
  color: #757575;
  padding-left: 15px;
  opacity: 0.5;
}

.popular-foods-section{
  width: 1170px;
height: 935.5px;
display: flex;
gap: 30px;
  flex-wrap: wrap;
  height:  75vh;
  flex-direction: row;
  margin-top: 285px;
  margin-left: 375px;
}